<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @make.name %>
</p>

<p>
  <b>Url:</b>
  <%= @make.url %>
</p>


<%= link_to 'Edit', edit_make_path(@make) %> |
<%= link_to 'Back', makes_path %>
