<h1>Your saved vehicles, grouped by model</h1>
<% @models.each do |model| %>
<div class="model">
  <% if model.image_url %><img src="<%= model.image_url %>" style="float: left;padding-right:10px;margin-right:10px;padding-bottom:10px"><% end %>
    <h2><%= model.make.name %> <%= model.name %></h2>
    <ul style="margin-left";>
    <% @ads.each do |ad| %>
    <% if ( ad.model.id == model.id ) %>
        <li><span style="text-align: right; color:#A0522D;"><%= number_to_currency ad.ad_price, :precision => 0 %></span>, <%= ad.year %>, <%= number_to_human ad.mileage, :precision => 0 %> miles</span>, Ph <%= ad.contact_phone %>, <span style="text-align: right; color:#A0522D; font-style:italic"><%= link_to "View online ad", ad.ad_url %></span>

<%= render :partial => "citymap", :locals => { :ad => ad } %><%= link_to 'E', edit_ad_path(ad) %></li>
    <% end %>
  <% end %>
  </ul>
</div>
<hr style="clear:both" />
<% end %>

<!-- (<= link_to "#{ad.city.name}", "/cities/#{ad.city.id}" >) -->
