<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <title>Ads</title>
</head>

<body>
  <div id='header'>
    [ <%= link_to 'Home', "/" %> ] | [ <%= link_to 'Log In', "/welcome/login" %> ] | [ <%= link_to 'Log Out', "/welcome/logout" %> ]

    <!-- Lookup Phone Number -->
<%= form_tag( '/by_phone', :method => :get ) %>
<input id="phone" name="phone" size="15" type="text" />
</form>
      
    
  </div>
  <div id='sidebar'>
      <h1>View</h1>
      <ul>
	<li><%= image_tag('star.png') %> <%= link_to 'Starred', ads_by_model_index_path %></li>
	<li><%= link_to 'New ads', '/ads/shownew' %></li>
	<li><%= link_to 'All vehicles', '/ads/all' %></li>
	<li><%= link_to 'Your searches', searches_path %></li>
	<li><%= link_to 'Evaluate', '/ads/evaluate' %></li>
      </ul>
      <h1>New</h1>
      <ul>
	<li><%= link_to 'Ad', new_ad_path %></li>
      </ul>
  </div>
  <div id='main'>
    <%= yield %>
  </div>
  <div id='footer'>
      <p><a href="http://validator.w3.org/check?uri=referer">XHTML validator</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS validator</a></p>
  </div>
  </body>
</html>
